body {
    background-color: white;
    color: black;
    margin: 50px;
    height: 0 auto;
    text-align: center;
}

h1 {
    background-color: red;
    color: yellow;
}

.pokemon-list {
    list-style-type:  none;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    
}

.button-class {
    background-color: #d6d6d6;
    display: inline-block;
    font-size: 16px;
    margin: 20px 10px auto;
    padding: 20px 100px;
    border-radius: 3px;
    border: none;
    box-shadow: 4px 3px 3px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-align: center;
    transition-duration: 0.2s;
    transition-property: opacity;
}

.button-class:hover,
.button-class:focus {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.1);
}

.button-class:active {
  background-color: rgb(33, 122, 205);
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding:20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background-color: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.modal-close {
  float: right;
  border: 0;
  background: none;
  color: #777;
  text-decoration: none;
  cursor: pointer;
}
.modal-close button {
  width:auto;
  cursor: pointer;
}
.modal h1 {
  margin-top:0;
  text-align: center;
  background-color: #fff;
  color: black;
  text-transform: uppercase;
  
}

.modal img{
  display: inline-block;
  width: auto;
}

.modal p {
  text-align: center;
}