:root{
  --primary-color:#004a80;
  --primary-color-lighter:#6dc0d9;
  --secondary-color:#e61919;
  --text-color:#fff;
  
  
}
body{
  background-color: hwb(205 0% 50%);
}

p{
  color: #ebebeb;
  text-align: center;
  margin-top: 10px;
}
.container-fluid{
  padding: 0px;
}
.navbar-expand-lg{
    justify-content: center;
    background-color: #6dc0d9;
    width: 100%;
  }


.list-group{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 100px ;
  border:none;
  justify-content: center;
  

}


.list-group-item{
  background-color: hsl(205, 100%, 25%);
  border:none;

}


.btn{
  background-color:#e61919;
  color:#fff ;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
  background-color: hsl(0, 60%, 82%);
  cursor: pointer;
  transform: scale(1.05);
  color: #051a21;
}

.btn:active {
  background-color: rgb(191, 197, 203);
  color:#051a21;
}

/*---------modal styles--------------------------------------*/

#modal-button {
  display: none;
}

.modal-close button {
  width:auto;
  cursor: pointer;
}
.modal h1 {
  margin-top:0;
  text-align: center;
  background-color: #fff;
  color: black;
  text-transform: uppercase;
  
}

.modal img{
  display: inline-block;
  width: auto;
}

.modal p {
  text-align: center;
}

.modal-title{
  text-align: center;
  margin-top:0;
  text-align: center;
  background-color: #fff;
  color: black;
  text-transform: uppercase;
}
.modal-body {
  background-color:#006d8f;
  text-align: center;
  text-transform: uppercase;

}
.modal-footer{
  background-color: #ebebeb;
}



 /* -------Media queries---------------------------------------------------- */
  
 @media all and (max-width: 500px) {

  .list-group{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto;
  }

}
@media all and (min-width: 500px) and (max-width: 750px) {
  .list-group {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
  };
  }


@media all and (min-width: 750px) and (max-width 1100px) {


  .list-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

  @media all and (min-width: 1100px) and (max-width: 1400px) {


    .list-group {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
    }
}

