:root{
  --primary-color:#004a80;
  --primary-color-lighter:#6dc0d9;
  --secondary-color:#e61919;
  --modal-color:#006d8f;
  --text-primary-color:#fff;
  --text-secondary-color: #051a21;
  --text-style-upper: uppercase;

  
}
body{
  background-color: var(--primary-color);
}

p{
  color:var(--text-primary-color);
  text-align: center;
  margin-top: 10px;
}
.container-fluid{
  padding: 0px;
}
.navbar-expand-lg{
    justify-content: center;
    background-color: var(--primary-color-lighter);
    width: 100%;
    color: var(--text-secondary-color);
  }

/*-----list-group contains the list of pokemons-------*/
.list-group{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 100px ;
  border:none;
  justify-content: center;

}

.list-group-item{
  background-color: var(--primary-color);
  border:none;
}

.btn{
  background-color:var(--secondary-color);
  color:var(--text-primary-color) ;
  text-align: center;
  width: 100%;
  text-transform: var(--text-style-upper);
  transition-duration: 0.2s;
  transition-property: opacity;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
  background-color: hsl(0, 60%, 82%);
  cursor: pointer;
  transform: scale(1.05);
  color: var(--text-secondary-color);
  
}

.btn:active {
  background-color: rgb(191, 197, 203);
  color:var(--text-secondary-color);
}

/*---------modal styles--------------------------------------*/

#modal-button {
  display: none;
}

.modal-close button {
  width:auto;
  cursor: pointer;
}
.modal h1 {
  margin-top:0;
  text-align: center;
  background-color: var(--text-primary-color);
  color: var(--text-secondary-color);
  text-transform: var(--text-style-upper);
  
}

.modal img{
  display: inline-block;
  width: auto;
}

.modal p {
  text-align: center;
}

.modal-title{
  text-align: center;
  margin-top:0;
  text-align: center;
  background-color: var(--text-primary-color);
  color: var(--text-secondary-color);
  text-transform: var(--text-style-upper);
}
.modal-body {
  background-color:var(--modal-color);
  text-align: center;
  text-transform: var(--text-style-upper);

}
.modal-footer{
  background-color: var(--text-primary-color);
}

 /* -------Media queries---------------------------------------------------- */
  
 @media all and (max-width: 500px) {

  .list-group{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto;
  }

}
@media all and (min-width: 500px) and (max-width: 750px) {
  .list-group {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
  };
  }


@media all and (min-width: 750px) and (max-width: 1100px) {


  .list-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

  @media all and (min-width: 1100px) and (max-width: 1400px) {


    .list-group {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
    }
}

